<!DOCTYPE html>
<html lang="en">

<head>
   {% load static %}
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Coding Camp</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="./">
            <strong style="color:#032129">CC</strong>
            <span>
              Coding Camp
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">
                    Home <span class="sr-only">(current)</span></a>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      LEARN TO CODE <br />
                      <span>
                        PYTHON DEVELOPER
                      </span>
                    </h1>
                    <p style="color:#036f8a;">
                      Python Essentials Embark on a coding journey with our streamlined Python Essentials course.
                      Grasp core concepts and apply them through practical exercises. Ideal for beginners,
                      this course sets you on the path to programming proficiency. Enroll and start coding today!
                    </p>
                    <div class="btn-box">
                      <a href="./1" class="btn-1">
                        Enroll Now
                      </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      LEARN TO CODE <br />
                      <span>
                        FLUTTER DEVELOPER
                      </span>
                    </h1>
                    <p style="color:#036f8a;">
                      Quickstart Flutter Master the art of app creation with our Quickstart Flutter course.
                      Learn the essentials of Flutter and start building apps that stand out.
                      Sign up and take the first step towards becoming a Flutter developer!
                    </p>
                    <div class="btn-box">
                      <a href="./5" class="btn-1">
                        Enroll Now
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      LEARN TO CODE <br />
                      <span>
                        JAVA DEVELOPER
                      </span>
                    </h1>
                    <p style="color:#036f8a;">
                      Quickstart Java Launch into the world of Java development with our Quickstart Java course.
                      Grasp the fundamentals of Java and create robust applications.
                      Enroll today and unlock the potential of Java programming!
                    </p>
                    <div class="btn-box">
                      <a href="./8" class="btn-1">
                       Enroll Now
                      </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      LEARN TO CODE <br />
                      <span>
                        SQL DEVELOPER
                      </span>
                    </h1>
                    <p style="color:#036f8a;">
                     SQL Mastery Gain command over databases with our SQL Mastery course.
                      Acquire the skills to query, update, and manage data effectively.
                      Enroll to transform into a proficient SQL developer.
                    </p>
                    <div class="btn-box">
                      <a href="./11" class="btn-1">
                        Enroll Now
                      </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- end slider section -->
  </div>



  <!-- info section -->
  <section class="info_section layout_padding" style="position:relative; top:100px;">
       <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
            <div>
              <a href="./">
               <strong style="color:#032129">CC</strong>
            <span>
              Coding Camp
            </span>
              </a>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links ">
            <h5>
              Contact Us
            </h5>
            <p class="pr-0 pr-md-4 pr-lg-5">
              Company Name: Coding Camp Solutions,
                123 Virtual Avenue,E-ville, Learningland, United E-states
             Zip Code: 98765
                Phone Number: +1 (555) 123-4567

            </p>
          </div>
        </div>

        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->


  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

 </body>

</html>