<!DOCTYPE html>
<html lang="en">

<head>
   {% load static %}
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Coding Camp</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
<style>
  .reg {

  width: 400px;
  height: 450px;
  padding: 16px;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.btn-1 {
  display: inline-block;
  padding: 12px 35px;
  background-color: #ffff00;
  color: #050505;
  border-radius: 0;
  text-transform: uppercase;
  margin-right: 10px;
}
.btn-1:hover {
  background-color: #e6e600;
}
</style>
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="./">
            <strong style="color:#032129">CC</strong>
            <span>
              Coding Camp
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="./">
                    Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./12"> Register Now </a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="./13"> Booking Now </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
<section class="reg_section layout_padding">
      <div class="container">
      <div class="row">
         <div class="python" style="position:relative; top:30px;  align:center; height:700px;" >
          <h2 style="color: #032129; font-size: 3rem; font-weight: 700; position:relative; left:-300px;">SQL COURSE</h2>
           <span style="color:white; font-size: 1.5rem; font-weight: 50; position:relative; left:-80px;">Learn SQL Basics for Data Science Specialization.</span>
        <div>
           <div class="reg" style="color:white; position:relative; left:600px; top:-70px;">
<p><b>Specialization - 4 course series</b></p>
<p>Get in-depth knowledge of a subject</p><br>
             <p>fee : Rs.1000</p>
<p>4.5 (9,985 reviews)</p>
<p>Beginner level</p>
             <p>No prior experience required</p>
<p>2 months at 10 hours a week</p>
<p>Flexible schedule</p>
<p>Learn at your own pace</p>

</div>
<div style="position:relative; top:-500px; left:-70px;">
          <h3>Specialization - 4 course series</h3>
          <p>
            This Specialization is intended for a learner with no previous coding experience seeking <br>
            to develop SQL query fluency. Through four progressively more difficult SQL projects with <br>
            data science applications, you will cover topics such as SQL basics, data wrangling, SQL <br>
            analysis, AB testing, distributed computing using Apache Spark, Delta Lake and more. These <br>
            topics will prepare you to apply SQL creatively to analyze and explore data; demonstrate <br>
            efficiency in writing queries; create data analysis datasets; conduct feature engineering, <br>
            use SQL with other data analysis and machine learning toolsets; and use SQL with unstructured data sets. </p>
          <ul>
            <li><b>What you'll learn</b></li>
            <li>Use SQL commands to filter, sort, & summarize data; manipulate strings, dates,<br>
              & numerical data from different sources for analysis</li>
            <li>Use the collaborative Databricks workspace and create an end-to-end pipeline that<br>
              reads data, transforms it, and saves the result</li>
            <li>Assess and create datasets to solve your business questions and problems using SQL</li>
            <li>Develop a project proposal & select your data, perform statistical analysis & develop <br>
              metrics, and present your findings & make recommendations</li>

          </ul>
  </div>
        </div>
        </div>
      </div>
</section><br><br><br><br>
      <!-- info section -->
  <section class="info_section layout_padding" style="position:relative; top:-100px;">
       <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
            <div>
              <a href="./">
               <strong style="color:#032129">CC</strong>
            <span>
              Coding Camp
            </span>
              </a>
            </div>
            <p>
              Learn From The Best
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links ">
            <h5>
              Contact Us
            </h5>
            <p class="pr-0 pr-md-4 pr-lg-5">
             Company Name: Coding Camp Solutions,
                123 Virtual Avenue,E-ville, Learningland, United E-states
             Zip Code: 98765
                Phone Number: +1 (555) 123-4567

            </p>
          </div>
        </div>

        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->


  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

 </body>

</html>