<!DOCTYPE html>
<html lang="en">

<head>
   {% load static %}
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Coding Camp</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
<style>
  .reg {

  width: 400px;
  height: 400px;
  padding: 16px;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.btn-1 {
  display: inline-block;
  padding: 12px 35px;
  background-color: #ffff00;
  color: #050505;
  border-radius: 0;
  text-transform: uppercase;
  margin-right: 10px;
}
.btn-1:hover {
  background-color: #e6e600;
}
</style>
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="./">
            <strong style="color:#032129">CC</strong>
            <span>
              Coding Camp
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="./">
                    Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./2"> Register Now </a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="./4"> Booking Now </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
<section class="reg_section layout_padding">
      <div class="container">
      <div class="row">
         <div class="python" style="position:relative; top:30px;  align:center; height:700px;" >
          <h2 style="color: #032129; font-size: 3rem; font-weight: 700; position:relative; left:-300px;">PYTHON COURSE</h2>
           <span style="color:white; font-size: 1.5rem; font-weight: 50; position:relative; left:-80px;">Learn to Program and Analyze Data with Python. Develop programs to gather, clean, analyze, and visualize data.</span>
        <div>
           <div class="reg" style="color:white; position:relative; left:350px; top:-70px;">
             <p>Specialization - 5 course series</p>
<p>Get in-depth knowledge of a subject</p>
             <p>fee : Rs.1000</p>
<p>4.8 (2,10,492 reviews)</p>
<p>Beginner level</p>
<p>No prior experience required</p>
<p>2 months at 10 hours a week</p>
<p>Flexible schedule</p>
<p>Learn at your own pace</p>

</div>
<div style="position:relative; top:-450px; left:-70px;">
          <h3>Specialization - 5 course series</h3>
          <p style="">This Specialization builds on the success of the Python for Everybody course and will<br>
            introduce fundamental programming concepts including data structures, networked<br>
            application program interfaces, and databases, using the Python programming language.<br>
            In the Capstone Project, you’ll use the technologies learned throughout the Specialization<br>
            to design and create your own  applications for data retrieval, processing, and visualization.</p>
          <ul>
            <li>Programming for Everybody (Getting Started with Python)</li>
            <li>Python Data Structures</li>
            <li>Using Python to Access Web Data</li>
            <li>Using Databases with Python</li>
            <li>Capstone: Retrieving, Processing, and Visualizing Data with Python</li>
          </ul>
  </div>
        </div>
        </div>
      </div>
</section>
      <!-- info section -->
  <section class="info_section layout_padding" style="position:relative; top:-100px;">
       <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
            <div>
              <a href="./">
               <strong style="color:#032129">CC</strong>
            <span>
              Coding Camp
            </span>
              </a>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links ">
            <h5>
              Contact Us
            </h5>
            <p class="pr-0 pr-md-4 pr-lg-5">
             Company Name: Coding Camp Solutions,
                123 Virtual Avenue,E-ville, Learningland, United E-states
             Zip Code: 98765
                Phone Number: +1 (555) 123-4567

            </p>
          </div>
        </div>

        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->


  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

 </body>

</html>